@import url("fonts.css");
@import "fonts.css";

* {
  box-sizing: border-box;
}

/* NAVIGATION /////////////////////////////// */
header {
  width: 100%;
  padding: 0;
  position: fixed;
  background-color: #253B59;
  height: 3em;
  z-index: 99999;
  transition: top 1s;
}

nav {
  float: left;
  top: 0;
  margin: 0;
  height: 100%;
}

nav ul {
  float: left;
  list-style-type: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 100%;
}

nav ul li {
  float: left;
  clear: none;
  display: inline-block;
  margin: 0;
  height: 100%;
}

nav ul li a {
  float: left;
  padding: 14px 17px;
  margin: 0;
  height: 100%;
}

nav ul li a:active, nav ul li a:hover, nav ul li a:focus {
  background-color: #F2C49B;
  color: white;
  height: 100%;
  text-decoration: none;
  transition: 0.7s;
  transition-duration: 0.7s;
}

.hide {
  -webkit-appearance: none;
}

@media only screen and (max-width: 746px) {
  header {
    width: 100%;
    height: 3rem;
    padding: 0;
    z-index: 99999;
  }

  nav {
    display: none;
    height: auto;
  }

  nav ul li a {
    width: 100%;
  }

  #hamburger {
    float: right;
    margin-top: 0.75em;
    margin-right: 1em;
    content: url(../images/hamburger.png);
    display: block;
    width: 2rem;
    height: 2rem;
  }

  #hamburger:checked {
    float: right;
    margin-top: 0.75em;
    margin-right: 1em;
    content: url(../images/x-button.png);
  }

  #hamburger:checked~nav {
    background-color: #253B59;
    position: relative;
    left: 0;
    width: 100%;
    display: list-item;
    margin-left: 0px;
    margin-top: 0;
    overflow: hidden;
    transition: 0.7s;
    transition-duration: 0.7s;
    z-index: -1;
  }

  #hamburger:checked~nav ul li {
    clear: left;
    width: 100%;
    transition: 0.7s;
    transition-duration: 0.7s;
  }

  #hamburger:checked~nav ul {
    width: 100%;
    transition: 0.7s;
    transition-duration: 0.7s;
  }

  #hamburger:checked~nav ul:hover, nav ul:hover, nav ul:focus {
    width: 100%;
  }

  #hamburger:checked~nav ul li a:active, nav ul li a:hover, nav ul li a:focus {
    background-color: #F2C49B;
    left: 0;
    color: white;
    width: 100%;
    text-decoration: none;
    transition: 0.7s;
    transition-duration: 0.7s;
  }
}

/* BODY CONTAINER ////////////////////////////////////////////////////////////// */
.container {
  position: relative;
  padding-top: 3em;
  padding-left: 5%;
  padding-right: 5%;
  content: "";
  min-height: 40em;
  width: 100%;
}

.containerAbout {
  position: relative;
  padding-top: 3em;
  padding-left: 5%;
  padding-right: 5%;
  content: "";
  min-height: 20em;
  width: 100%;
}

.banner {
  bottom: 0px;
  margin: 0;
  padding-top: 0;
  position: relative;
  background: rgb(242, 196, 155);
  background: linear-gradient(148deg, rgba(242, 196, 155, 1) 0%, rgba(242, 167, 167, 1) 47%);
  width: 100%;
  height: 100vh;
}

body {
  font-family: "LatoWeb", sans-serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  color: #253B59;
  background-color: #F2F2F2;
  overflow: scroll;
  overflow-x: hidden;
  /*off-white colour*/
}

@media only screen and (max-width: 746px) {
  .container {
    position: relative;
    padding: 3rem;
    content: "";
    min-height: 50em;
    width: 100%;
  }

  .containerAbout {
    position: relative;
    padding-top: 3em;
    padding-left: 5%;
    padding-right: 5%;
    content: "";
    min-height: 30em;
    width: 100%;
  }
}

/* SVG //////////////////////////////////////////////////////////////////////////////////// */
#bannerSVG {
  position: absolute;
  padding: 0;

}

/* BANNER IMAGE ///////////////////////////////////////////////////////////// */
.ProjectBanner {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.ProjectBannerImage {
  height: 50%;
  width: 100%;
}

.ProjectBannerImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headline {
  position: absolute;
  top: 70%;
  left: 10%;
  font-size: 3em;
  transform: translate(-20%, -70%);
  color: white;
}

/* GENERAL TAGS, TAG CLASSES ////////////////////////////////////////////////////////////// */
h1 {
  font-family: "LatoLatinWebBlack", sans-serif;
}

h2 {
  font-family: "LatoWebBold", sans-serif;
}

h3 {
  font-family: "LatoWebSemibold", sans-serif;
}

h4 {
  font-family: "LatoWebSemibold", sans-serif;
  margin-top: 0;
}

strong {
  font-family: "LatoWebBold", sans-serif;
  color: #F26D6D;
}

.skills {
  list-style-type: circle;
}

/* COLUMNS ////////////////////////////////////////////////////////////// */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  padding-bottom: 2em;
}

.column1 {
  position: relative;
  float: left;
  width: 49%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.column{
  position: relative;
  float: left;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.column1Image {
  background-color: #63bbab;
  float: left;
  padding-left: 3em;
  padding-right: 2em;
  width: 49%;
}

.column2 {
  float: left;
  width: 49%;
  padding-left: 2em;
}

#SkillsColumnDiv {
  width: 100%;
  color: white;
  padding: 4em;
  background: linear-gradient(148deg, rgba(242, 196, 155, 1) 0%, rgba(242, 167, 167, 1) 47%);
  height: 35em;
}

.SkillsBox {
  padding-top: 2em;
  padding-left: 2em;
  clear: both;
}

.SkillsColumn1 {
  float: left;
  width: 25%;
  height: 25em;
}

.SkillsColumn2 {
  float: left;
  width: 25%;
  height: 25em;
}

.projectIntro {
  width: 100%;
  height: 25em;
}

.projectContainer {
  position: relative;
  padding-top: 3em;
  content: "";
  min-height: 40em;
  width: 100%;
}

.projectColumn1 {
  padding-top: 2em;
  float: left;
  width: 50%;
}

.projectColumn1 p {
  width: 75%;
}

.projectColumn2 {
  position: absolute;
  right: 0;
}

.projectColumn {
  background-color: #63bbab;
  color: white;
  float: left;
  padding-left: 5em;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  clear: both;
}

#TripLink {
  background-color: #F26D6D;
}

#SeacoastMarineLink {
  background-color: #253b59;
}

#YorkHouseLink {
  background-color: #215732;
}

#WildThingsLink {
  background-color: #FF708D;
}

#SeacoastMarineLink img {
  float: right;
  width: 45%;
  height: 20em;
}

#YorkHouseLink img {
  float:right;
  width: 25%;
  height: 20em;
}

.parkaid_gifs {
  float:right;
  width: 30%;
  height: 30em;
}

#WildThingsLink img{
  float: right;
  width: 40%;
  height: 20em;
}

@media only screen and (max-width: 746px) {
  .container {
    padding-left: 2em;
    padding-right: 2em;
  }

  .column1 {
    width: 100%;
  }

  .column1Image {
    width: 100%;
  }

  .column2 {
    width: 100%;
  }

  #SkillsColumnDiv {
    height: 50em;
    padding: 2em;
  }

  .SkillsColumn1 {
    width: 50%;
  }

  .SkillsColumn2 {
    width: 50%;
    padding-left: 2em;
  }

  .banner {
    display: block;
  }

  #bannerTextContainer {
    display: none;
  }

  #bannerSVG {
    display: none;
  }

  #bannerMobileText {
    display: block;
    padding: 2em 1em 0 1em;
    margin: 0;
    font-size: 4em;
    color: white;
    text-align: center;
  }

  #bannerMobileTextParagraph {
    display: block;
    padding: 0 1em 1em 1em;
    margin: 0;
    font-size: 2em;
    color: white;
    text-align: center;
  }

  .projectColumn {
    text-align: center;
    display: block;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }

  .projectColumn1 {
    position: relative;
    float: left;
    content: "";
    clear: both;
    width: 100%;
  }

  .projectColumn1 p {
    width: 100%;
  }

  .projectColumn2 {
    position: relative;
    margin-top: 1em;
    float: left;
    content: "";
    clear: both;
    width: 100%;
  }

  #SeacoastMarineLink img {
    width: 100%;
    height: 20em;
  }

#YorkHouseLink img {
    width: 49%;
    height: 20em;
  }

  .parkaid_gifs {
    width: 35%;
    height: 20em;

  }

  #WildThingsLink img{
    width: 100%;
    height: 20em;
  }
}

@media only screen and (min-width: 746px) {
  #bannerMobileText {
    display: none;
  }

  #bannerMobileTextParagraph {
    display: none;
  }
}

/* DIV IDS ////////////////////////////////////////////////////////////// */
#bannerText {
  padding: 0 0 0 0;
  float: left;
  font-size: 4em;
  color: white;
}

#bannerTextContainer {
  bottom: 0px;
  margin: 0;
  padding-top: 20em;
  padding-left: 2em;
  position: absolute;
  width: 100%;
  height: 47em;
}

#TextSwitch {
  padding: 0 0 0 0;
  float: left;
  text-align: left;
  font-size: 3em;
  color: white;
  clear: both;
}

#colour1 {
  float: left;
  padding: 1em;
  background: #253b59;
}

#colour1 p {
  color: white;
}

#colour2 {
  float: left;
  padding: 1em;
  background: #F2C49B;
}

#colour2 p {
  color: white;
}

#colour3 {
  float: left;
  padding: 1em;
  background: #F26D6D;
}

#colour3 p {
  color: white;
}

#colour4 {
  float: left;
  padding: 1em;
  background: #F2A7A7;
}

#colour4 p {
  color: white;
}

#colour5 {
  float: left;
  padding: 1em;
  background: #00CED1;
}

#colour5 p {
  color: white;
}

#bold {
  font-family: "LatoLatinWebHeavy";
}

/* TAG ELEMENTS////////////////////////////////////////////////////////////// */
nav ul li a {
  color: #F2C49B;
}

a {
  color: #00CED1;
  text-decoration: none;
}

a:hover {
  color: #F2C49B;
  transition: 0.5s;
  transition-duration: 0.5s;
}

h4 {
  margin-bottom: 0.5em;
}

h1, h2, h3 {
  margin: 0;
}

.skills li {
  padding-bottom: 1em;
  width: 75%;
}

.paragraph {
  line-height: 2;
}

/* DIV CLASSES////////////////////////////////////////////////////////////// */
.Unavailable {
  float: left;
  text-align: center;
  width: 18em;
  padding: 1em;
  background-color: grey;
  color: white;
  border: solid;
  border-color: white;
  height: 10em;
}

.ProjectBoxes {
  float: left;
  text-align: center;
  width: 18em;
  padding: 1em;
  background-color: #F2A7A7;
  color: white;
  border: solid;
  border-color: white;
  height: 10em;
}

.ProjectBoxes:active, .ProjectBoxes:hover, .ProjectBoxes:focus {
  background-color: #F2C49B;
  left: 0;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  transition-duration: 0.3s;
}

/* FOOTER ////////////////////////////////////////////////////////////// */
footer {
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  padding: 0;
  margin: 1rem;
  margin-left: 4rem;
  bottom: 0;
  position: static;
  clear: both;
}

footer li a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

/* BUTTON ELEMENTS ////////////////////////////////////////////////////////////// */
.button-nav {
  display: inline-block;
  padding: 14px 28px;
  color: white;
  border: 2px solid black;
  border-color: #F2C49B;
  border-radius: 12px;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}
#contact {
  float: right;
  background-color: #F2C49B;
}

#example {
    background-color: #F2C49B;
}

.button-nav:hover, .button-nav:focus {
  background-color: #F2A7A7;
  color: white;
  border-color: #F2A7A7;
}

#contact:hover, #contact:focus {
  background-color: #F2A7A7;
  color: white;
  border-color: #F2A7A7;
}

#example:hover, #example:focus {
  background-color: #F2A7A7;
  color: white;
  border-color: #F2A7A7;
}

/* CODE SECTION ////////////////////////////////////////////////////////////// */
code {
  background-color: #F26D6D;
  color: white;
  padding: 0.5rem;
  display: block;
}
