/* TEXT ///////////////////////////////// */
#bannerText {
  animation: fadein 1s linear;
}

#TextSwitch {
  animation: fadein 2s linear;
}

#TextSwitch:after {
  content: "";
  animation: switch 10s infinite;
}

#bannerMobileText {
  animation: fadein 1s linear;
}

#bannerMobileTextParagraph {
  animation: fadein 5s linear;
}

/* CLOUDS /////////////////////////// */
.rightBgClouds {
  animation: slideLeft 3s linear,
    5s slideBounceLeft 3s infinite;
}

.rightBgClouds2 {
  animation: slideLeft2 2s linear,
    4s slideBounceLeft 2s infinite;
}

.leftBgClouds {
  animation: slideRight 3s linear,
    5s slideBounceRight 3s infinite;
}

.leftBgClouds2 {
  animation: slideRight 2s linear,
    3s slideBounceRight 2s infinite;
}

/* SUN ///////////////////////////////////////////////////// */
/* MIST ///////////////////////////////////////////////////// */
.MistTop, .MistBottom {
  animation: fadein 3s linear;
}

/* KEYFRAMES /////////////////////////////////////// */
@keyframes slideLeft {
  0% {
    transform: translate(650px);
  }

  100% {
    transform: translate(30px);
  }
}

@keyframes slideLeft2 {
  0% {
    transform: translate(300px);
  }

  100% {
    transform: translate(30px);
  }
}

@keyframes slideRight {
  0% {
    transform: translate(-150px);
  }

  100% {
    transform: translate(-10px);
  }
}

@keyframes slideBounceLeft {
  0% {
    transform: translate(30px);
  }

  50% {
    transform: translate(50px);
  }

  100% {
    transform: translate(30px);
  }
}

@keyframes slideBounceRight {
  0% {
    transform: translate(-10px);
  }

  50% {
    transform: translate(-20px);
  }

  100% {
    transform: translate(-10px);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes switch {
  0% {
    opacity: 0%;
  }

  10% {
  }

  15% {

  }

  20% {
    opacity: 100%;
  }

  25% {
    content: "an Interaction Designer";
  }

  30% {

    content: "an Interaction Designer";
  }

  35% {

  }

  40% {
  opacity: 0;
  }

  45% {
    opacity: 100%;
  }

  50% {
    content: "an UX/UI Designer";
  }

  55% {
    opacity: 0%;
  }

  60% {
    opacity: 100%;
  }

  65% {
    content: "a Web Designer";
  }

  70% {
    opacity: 0%;
  }

  75% {
    opacity: 100%;
  }

  80% {
    content: "an Artist"
  }

  85% {
    opacity: 0%;
  }

  90% {
    opacity: 100%;
  }

  95% {
    content: "a Graphic Designer"
  }

  100% {
      opacity: 0%;
  }
}

@keyframes pulse {
  0% {
    color: #051E3E;
  }

  10% {
    color: #051E3E;
  }

  30% {
    color: white;
  }

  50% {
    color: #051E3E;
  }

  60% {
    color: #051E3E;
  }

  80% {
    color: white;
  }

  100% {
    color: #051E3E;
  }
}
